span {
    color: #ffffff;
}

.header {
    height: 100%;
    background-color: #378359;
    position: relative;
    z-index: 900;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
}

.title {
    font-size: x-large;
    margin-left: 15px;
    margin-right: 20px;
}

img {
    margin-left: 20px;
    vertical-align: middle;
    height: 2em;
}

.pages {
    padding: 20px;
}

.page {
    padding: 20px;
    &:hover {
        cursor: pointer;
        opacity: 0.5;
    }
}