.page {
    height: 100%;
    padding: 10px;
}

app-map {
    height: 100%;
}

.side-panel {
    background-color: #ffffff;
    padding: 10px;
    border-top: 0.5px solid #eeeeee;
    border-left: 0.5px solid #eeeeee;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-radius: 4px;
}

.marker {
    padding-top: 10px;
    &:hover {
        cursor: pointer;
        background-color: #eeeeee;
    }
}