<div class="page" id="page">
    <div class="page" fxLayout="row" fxLayoutAlign="center stretch">
        <app-map fxFlex="100"></app-map>
    </div>
    <div id="side-panel" [@sidePanelAnimation]="closeOpen">
        <div class="close" (click)="toggleSidePanel()"><mat-icon>{{closeOpen}}</mat-icon></div>
        <div class="header" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="view" *ngFor="let view of views" (click)="navigate(view.route)">{{view.icon}}</mat-icon>
        </div>
        <mat-divider></mat-divider>
        <div class="app">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

