@font-face {
    font-family: 'Roboto';
    src: url(/assets/Roboto/Roboto-Regular.ttf) format("truetype");
  }

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-family: 'Roboto';
    vertical-align: baseline;
    background: transparent;
}

.display {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}