.map {
    height: 100%;
    width: 100%;
}

#marker {
    position: absolute;
    display: none;
    background-color: #ffffff;
    border-radius: 5px;
    border: 0.5px solid #cccccc;
    max-width: 25em;
    word-wrap: break-word;
    pointer-events: none;
    z-index: 1000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#markerText {
    margin: 15px;
}